<header class="posts">
  <div class="header-logo">
  <% if @current_user %>
    <%= link_to("TweetApp", "/posts/index") %>
  <% else %>
    <%= link_to("TweetApp", "/") %>
  <% end %>
  </div>
  <ul class="header-menus">

    <% if @current_user %>
      <li>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("新規投稿", "/posts/new", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ユーザー一覧", "/users/index", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ログアウト", "/logout", {method: "post"}) %>
      </li>
    <% else %>
      <li>
      <%= link_to("トレカ交換とは", "/about", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("新規登録", "/signup", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("ログイン", "/login", {class: "top-link"}) %>
      </li>
    <% end %>
  </ul>
</header>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}", {class: "link"}) %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes", {class: "link"}) %></li>
    </ul>
    
    <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}", {class: "link"}) %>
          </div>
          <p>
            <%= link_to(post.group, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <p>
            <%= link_to(post.request, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <p>
            <%= link_to(post.give, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <p>
            <%= link_to(post.content, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <div class="img">
            <img  src = "<%= "/post_images/#{post.img}" %>" width="400" height="auto">
          </div>
          <video src = "<%= "/post_movies/#{post.movie}" %>" width="400" type="video/*"  controls></video>
        </div>
      </div>
    <% end %>
  </div>
</div>