<header class="posts">
  <div class="header-logo">
  <% if @current_user %>
    <%= link_to("TweetApp", "/posts/index") %>
  <% else %>
    <%= link_to("TweetApp", "/") %>
  <% end %>
  </div>
  <ul class="header-menus">

    <% if @current_user %>
      <li>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("新規投稿", "/posts/new", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ユーザー一覧", "/users/index", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ログアウト", "/logout", {method: "post"}) %>
      </li>
    <% else %>
      <li>
      <%= link_to("トレカ交換とは", "/about", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("新規登録", "/signup", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("ログイン", "/login", {class: "top-link"}) %>
      </li>
    <% end %>
  </ul>
</header>
<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
        <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @password %>">
          <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</div>