<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%= link_to "退会",user_path(@current_user.id), class: "destroy-user", method: :delete, "data-confirm" => "本当に退会しますか？" %>
     </div>
      <% else %>  
        <% if @isRoom == true %>
          <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}", {class: "link"}) %>
          </div>
          <p>
            <%= link_to(post.group, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <p>
            <%= link_to(post.request, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <p>
            <%= link_to(post.give, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <p>
            <%= link_to(post.content, "/posts/#{post.id}", {class: "link"}) %>
          </p>
          <div class="img">
            <img  src = "<%= "/post_images/#{post.img}" %>" width="400" height="auto">
          </div>
          <video src = "<%= "/post_movies/#{post.movie}" %>" width="400" type="video/*"  controls></video>
        </div>
      </div>
    <% end %>
  </div>
</div>