<header class="posts">
  <div class="header-logo">
    <% if @current_user %>
      <%= link_to("TweetApp", "/posts/index") %>
    <% else %>
      <%= link_to("TweetApp", "/") %>
    <% end %>
  </div>
  <ul class="header-menus">

    <% if @current_user %>
      <li>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("新規投稿", "/posts/new", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ユーザー一覧", "/users/index", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("メッセージ一覧", "/rooms/index", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ログアウト", "/logout", {method: "post"}) %>
      </li>
    <% else %>
      <li>
      <%= link_to("トレカ交換とは", "/about", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("新規登録", "/signup", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("ログイン", "/login", {class: "top-link"}) %>
      </li>
    <% end %>
  </ul>
</header>
<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <input name="group" value="<%= @post.group %>">
          <input name="request" value="<%= @post.request %>">
          <input name="give" value="<%= @post.give %>">
          <textarea name = "content"><%= @post.content %></textarea>
          <input name="image" type="file" id="example" accept="image/*" >
          <input name="movie" type="file" accept="video/*">
          <div id="preview"></div>
          <script>
            function previewFile(file) {
              const preview = document.getElementById('preview');
          
              const reader = new FileReader();
            
              reader.onload = function (e) {
                const imageUrl = e.target.result; 
                const img = document.createElement("img"); 
                img.src = imageUrl; 
                preview.appendChild(img); 
              }
            
              reader.readAsDataURL(file);
            }
            const fileInput = document.getElementById('example');
            const handleFileSelect = () => {
              const files = fileInput.files;
              for (let i = 0; i < files.length; i++) {
                previewFile(files[i]);
              }
            }
            fileInput.addEventListener('change', handleFileSelect);
          </script>
          
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>