<header class="posts">
  <div class="header-logo">
  <% if @current_user %>
    <%= link_to("TweetApp", "/posts/index") %>
  <% else %>
    <%= link_to("TweetApp", "/") %>
  <% end %>
  </div>
  <ul class="header-menus">

    <% if @current_user %>
      <li>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("新規投稿", "/posts/new", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ユーザー一覧", "/users/index", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("ログアウト", "/logout", {method: "post"}) %>
      </li>
    <% else %>
      <li>
      <%= link_to("トレカ交換とは", "/about", {class: "top-link"}) %>
      </li>
      <li>
      <%= link_to("新規登録", "/signup", {class: "top-link"}) %>
      </li>
      <li>
        <%= link_to("ログイン", "/login", {class: "top-link"}) %>
      </li>
    <% end %>
  </ul>
</header>
<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}", {class: "link"}) %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
