<!DOCTYPE html>
<html>
  <head>
    <title>Card</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  
  </head>

  <body>
    <header class="posts">
    <div class="header-logo">
      <% if @current_user %>
        <%= link_to("トレカ交換", "/posts/index", {class: "top-link"}) %>
      <% else %>
        <%= link_to("トレカ交換", "/", {class: "top-link"}) %>
      <% end %>
    </div>
    <ul class="header-menus">

      <% if @current_user %>
        <li>
          <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "top-link"}) %>
        </li>
        <li>
          <%= link_to("/posts/index",{class: "top-link"}) do %>
            <span class="fas fa-search fa-lg"></span>
          <% end %>
        </li>
        <li>
          <%= link_to("/posts/new",{class: "top-link"}) do %>
            <span class="fas fa-plus fa-lg"></span>
          <% end %>
        </li>
        <li>
          <%= link_to("/users/index",{class: "top-link"}) do %>
            <span class="fas fa-users fa-lg"></span>
          <% end %>
        </li>
        <li>
          <%= link_to("/rooms/index",{class: "top-link"}) do %>
            <span class="fas fa-envelope fa-lg"></span>
          <% end %>
        </li>
        <li>
          <%= link_to("/logout", {method: "post"}) do %>
            <span class="fas fa-sign-out-alt fa-lg"></span>
          <% end %>
        </li>
      <% else %>
        <li>
         <%= link_to("トレカ交換とは", "/about", {class: "top-link"}) %>
        </li>
        <li>
          <%= link_to("検索", "/posts/index", {class: "top-link"}) %>
        </li>
        <li>
         <%= link_to("新規登録", "/signup", {class: "top-link"}) %>
        </li>
        <li>
          <%= link_to("ログイン", "/login", {class: "top-link"}) %>
        </li>
      <% end %>
    </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>

  
</html>

